.table {
  font-family: sans-serif;
  color: #444;
  border-collapse: collapse;
  font-size: 18px;
  border: 1px solid #f2f5f7;
  width: 70%;
}

.table tr th {
  background: #fff;
  color: black;
}

.table,
th,
td {
  padding: 8px 20px;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.btn-edit {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.btn-delete {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.btn-add {
  margin-top: 20px;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.btn-save {
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }
  .btn-search {
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .btn-back {
    margin-top: 20px;
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }
  

.table-add tr td {
  padding-left: 0;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type="text"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="date"]{
    width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.pagination{
  margin-top: 20px;
 display: inline-block;
}

.pagination a {
  color: #007bff;
  float: left;
  padding: 8px 15px;
  text-decoration: none;
  border: 1px solid #ddd;
}
